.nav{
    font-size: 1rem;
    background-color: white;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #697e94;
}
.nav-pills .nav-link {
    color: black;
}
.dropdown{
    margin-left: 10px;
    display: inline-block;
}