.col
{
    margin: 30px;
}
.card-header{
    font-size: 18px;
    font-weight: bold;
}
.p-credit{
    background-color: black;
    color: white;
    font-family: 'sans-serif';
    font-size: 14px;
    margin-bottom: 0px;
    text-align: center;
}

.a-credit{
    color:#007bff;
    text-decoration: none;
    background-color:transparent;
}