.card-columns{
    background-color: black;
}
.card-columns .card {
   margin: 45px;
}
.card{
    cursor: pointer;
    margin: 15px;
}
#cat-card .card:hover{
 box-shadow: 0 0 8px 8px #697e94;
    
}
a{
    color: black;
}
a:hover{
    text-decoration: none;
}
@media (min-width: 576px){
.card-columns .card {
    display: inline-block;
    width: 95%;
}
} 